langchain
langchain-google-genai
langchain_cohere
langchain_community
langchain-nvidia-ai-endpoints
pillow
newspaper3k 
textstat 
tiktoken 
faiss-cpu
unstructured
playwright 
selenium
sentence-transformers
chromadb
langchain-chroma